//text size
$text-10: 10px;
$text-15: 15px;
$text-16: 16px;
$text-20: 20px;
$text-24: 24px;
$text-30: 30px;
$text-40: 40px;

//text weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;

//text color
$text-primary: #000;
$text-secondary: #CBC9C9;
$text-accent: #F50E0E;
$text-c1-white: #fff;
$text-c2-white: #F6F6F6;

//bg color 
$bg-btn: #AE18E2;
$bg-black: #000;