@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  padding: 10px 0;
  background-color: #000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__component {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .container .header__component .header__component-cart {
  display: flex;
  align-items: center;
}
.header .container .header__component .header__component-cart span {
  cursor: default;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}
.header .container .header__component a:nth-child(3), .header .container .header__component a:nth-child(2) {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #F6F6F6;
}
.menu {
  padding: 16px 0 0;
}
.menu .container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
.menu .container a {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.menu .container a:hover {
  opacity: 1;
}
.menu .container a.active {
  opacity: 1;
  position: relative;
}
.menu .container a.active.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  inset: auto auto 0 0;
  background-color: #000;
}

.footer .footer__part {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer__part.--part-1 {
  background-color: rgb(249, 249, 249);
}
.footer .footer__part.--part-2 {
  background-color: rgb(231, 231, 231);
}
.footer .footer__part .container {
  display: flex;
}
.footer .footer__part .container .footer__item {
  flex-basis: 33.3333333333%;
}
.footer .footer__part .container .footer__item.--border {
  border: solid rgb(219, 219, 219);
  border-width: 0 2px 0 2px;
}
.footer .footer__part .container .footer__item h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.footer .footer__part .container .footer__item ul {
  padding: 0;
  margin: 0;
}
.footer .footer__part .container .footer__item ul li {
  list-style: none;
}
.footer .footer__part .container .footer__item ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
.footer .footer__part .container .footer__item p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
.footer .footer__part .container .footer__item > a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(200, 80, 79);
}